<h2>{{movie.title}}</h2>
<p>Género: {{movie.genre}}</p>
<p>Trama: {{movie.plot}}</p>
<h3>Elenco:</h3>
<ul>
  {{#each movie.cast}}
    <li>{{this.name}} - {{this.occupation}} ({{this.catchPhrase}})</li>
  {{/each}}
</ul>
<form action="/movies/{{movie._id}}/delete" method="POST">
  <button type="submit">Eliminar</button>
</form>
<a href="/movies/{{movie._id}}/edit">Editar</a>
